<DOCTYPE html>
    <head>
<title>
    THIS IS MY FIRST PAGE
    </title>
    </head>
    <body>
        <p>
            This is my first paragraph
            This is my second paragraph

            </p>
        </body>
    </html>